.flex{
    display: flex;
}
.space-betwen{
    justify-content: space-between;
}
.space-evenly{
    justify-content: space-evenly;
}
.text-center{
    text-align: center;
}
.align-center{
    align-items: center;
}