main{
    align-items: center;
    justify-content: center;
    display: flex;
}
section{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 50%;
}
.purple{
    background-color: rgb(107, 183, 245)
}
.white{
    background-color: white;
}
.pet{
    background-image: url(../../assets/photo-1598134493136-7b63ebbd7b64.jpg);
}
h1{
    margin-bottom: 20px;
    font-size: xx-large;
    font-weight: bolder;
}
.titulo h3{
}
section h2{
    font-size: xx-large;
    font-weight: bolder;
}
section h3{
    font-size: medium;
    font-weight: 500;
}
.container{
    width: 58%;
    height: 71%;
}
.container-ajuste{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}
.moldura{
    width: 70%;
}
.moldura input{
    border: solid 0.5px black;
    width: 100%;
    height: 30px;
    margin-top: 15px;
    border-radius: 5px;
}
.moldura button{
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    height: 30px;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.center h3{
    margin-top: 15px;
}
.opacity{
    opacity: 30%;
}
span{
    margin-top: 15px;
    color: red;
}
.background{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
}
.background img{
    width: 45px;
    height: 45px;
}