body {
    margin: 0 auto;
}

main{
    align-items: center;
    justify-content: center;
    display: flex;
}
section{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 50%;
}

header{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    width: 50%;
}
.purple{
    background-color: rgb(140, 199, 248)
}
.white{
    background-color: var(--white);
}
.pet{
    background: url(../../assets/img/imgDogDektop.jpg) no-repeat  #80C6E9;
    background-size: contain;
    border-radius: 30px 0px 30px 0px;
}
h1{
    margin-bottom: 20px;
    font-size: var(--font-size-1);
    font-weight:var(--font-weigth-5);
}

section h2{
    margin-bottom: 10px;
    font-size: var(--font-size-2);
    font-weight: var(--font-weigth-5);
}

section h3{
    font-size: var(--font-size-4);
    font-weight:var(--font-weigth-3)
}

section h2, section h3 {
    color: var(--white);
}

h1, h3 {
    color: var(--brand-1);
}

.container{
    width: 58%;
    height: 70%;
}

.container-ajuste{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
}
.moldura{
    width: 70%;
}
.moldura input{
    background-color: #80C6E9;
}

.moldura input, .moldura button {
    width: 100%;
    padding: 10px 10px;
    margin-top: 15px;
    border-radius: var(--border-rad-2);
    border: solid 2px var(--white);
    color: var(--brand-6)
}

.moldura input, .moldura input::placeholder {
    color: var(--white);
}

.moldura button{
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
}
.flex{
    display: flex;
}
.center{
    justify-content: center;
}
.center h3{
    margin-top: 15px;
}
span{
    margin-top: 15px;
    color: var(--error);
}
.background{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.1);
}
.background img{
    width: 45px;
    height: 45px;
}
#container-header{
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media(max-width:1000px){

    body {
        background: url(../../assets/img/imgDogMobile.jpg) no-repeat;
        overflow-y: hidden;
    }

    main{
        flex-direction: column;
    }

    .container{
        width: 100%;
    }

    .container-ajuste{
        width: 100%;
        background-color: #80C6E9;
    }

    header{
        height: 80px;
        width: 100%;
        
    }

    section{
        display: block;
        width: 100%;
    }

    .white{
        background-color: #80C6E9;
    }

    h1{
        margin-top: 40px;
        color: var(--white);
    }

    .pet{
        transform: translateY(-10px);
        background-position: center;
        border-radius: 0;
    }

    .moldura{
        min-width: 320px;
        max-width: 402px;
    }

}
