.header{
    border-bottom: 2px solid var(--grey-6);
    margin: 32px 0;
}

.header h1{
    font-size: var(--font-size-2);
    font-weight: bold;
    color: var(--brand-1);
    margin-bottom: 16px; 
}

.nav-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 300px;
}

.nav-btn button{
    width: 102px;
    height: 30px;
    border-radius: var(--border-rad-2);
    border: 1px solid var(--brand-1);
    margin-bottom: 16px;
    cursor: pointer;
}

.nav-btn .home{
    background-color: transparent;
    color: var(--brand-1);
}

.nav-btn .logout{
    background-color: var(--brand-1);
    color: var(--white);
}

.pet-list{
    display: flex;
    overflow-x: auto;
    gap: 16px;
}

.pet-list .card{
    min-width: 200px;
    height: 300px;
    box-shadow: 0px 0px 5px 3px var(--grey-5);
    overflow: hidden;
    margin-bottom: 16px;
    
}

.pet-list .card .card-description{
    padding: 16px;
}

.pet-list .card img{
    width: 211px;
    height: 50%;
    object-fit: cover;
}

.pet-list .card .card-title{
    font-weight: bold;
    font-size: var(--font-size-2);
    color: var(--brand-1);
    margin-top: 16px;
}

.pet-list .card .type{
    font-size: 10px;
    color: var(--grey-5);
    margin: 5px;
}

.pet-list .card .adopt-button{
    width: 103px;
    height: 27px;
    border-radius: var(--border-rad-2);
    background-color: var(--brand-2);
    color: var(--white);
    border: 1px solid var(--brand-2);
    margin-top: 16px;
    margin-left: 32px;
    margin: 16px 0 16px 32px;
    cursor: pointer;
}

.footer{
    width: 100%;
    background-color: var(--grey-5);
    color: var(--brand-1);
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 700px){

    .container-mobile{
        max-width: 1440px;
    }
    

    body{
        overflow-x: hidden;

    }

    main{
        width: 100vw;
        margin-bottom: 129px;
    }
    

    .header{
        width: 100vw;
    }
    .cover-header{
        display: flex;
        justify-content: space-between;
    }

    .nav-btn{
        gap: 16px;
    }


    .pet-list{
        width: 728px;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .footer{
        width: 100vw;
        margin-top: 16px;
    }
    .footer p{
        margin-top: auto;
        text-align: center;
    }
}